<h2>List of bot commands</h2>

<p>
  !iline &lt;none/nick/host&gt; = Shows IRCnet server I-lines<br/>
  !server &lt;tld/sid/open&gt; = Shows linked servers<br/>
  !spoof &lt;none&gt; = Shows servers available for cloaked connection (Spoof)<br/>
  !ipv6 &lt;tld/open&gt; = Shows IPv6 servers<br/>
  !dns/!ip/!whois &lt;ip/host&gt; = Resolves IPv4/6 and shows whois<br/>
  !ping6 &lt;ipv6/host&gt; = Pinging IPv6 address<br/>
  !splits &lt;none&gt; = Shows the current server splits (alert enabled on channel)<br/>
    !kills &lt;none&gt; = Shows the last 3 kills from IRCops (alert enabled on channel)<br/>
      !collide &lt;nick&gt; = Shows the last 3 nick collisions<br/>
        !seen &lt;nick&gt; = Shows the last seen of a nick<br/>
          !ircop &lt;server&gt; = Shows online IRCops<br/>
            !uptime &lt;server&gt; = Shows server uptime<br/>
              !info &lt;chan&gt; = Shows channel modes and topic<br/>
                !reop &lt;chan&gt; = Shows channel reop list<br/>
                  !invite &lt;chan&gt; = Shows channel invite list<br/>
                    !ban &lt;chan&gt; = Shows channel ban list  <br/><br/>
  Please don't abuse it.
</p>
